LOCAL_DEV_ENV=true
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin1234
ADMIN_EMAIL=admin@localhost
MUSIC_DIRS=E:/Music
AUDIO_CACHE_MAX_DAYS=30
AUDIO_CACHE_MAX_MB=500
# FFMPEG_PATH=./node_modules/.bin/ffmpeg
# FFPROBE_PATH=./node_modules/.bin/ffprobe