html, body, #app {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Jura', sans-serif;
  min-height: 100svh;
  font-weight: 600;
  overflow-x: hidden;
  transition: background-color 1s, color 1s;
  scrollbar-color: hsl(from var(--main-colour) h 30% 55%) hsl(from var(--main-colour) h 5% 85%);
  .dark & {
    scrollbar-color: hsl(from var(--main-colour) h 30% 45%) hsl(from var(--main-colour) h 5% 25%);
  }
}

button, input, select, textarea {
  font-family: inherit;
}

input, textarea {
  @apply text-muted;
  border: 1px solid var(--colors-background-300);
  background: var(--colors-background-100);
  .dark & {
    border: 1px solid var(--colors-background-700);
    background: var(--colors-background-800);
  }
}

:root {
  --main-colour: hsla(22 95% 60% / 1);
  --hero-colour: hsla(22 95% 60% / 1);
}